/*GENERAL SETTINGS*/

@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.close{
    padding-left: 30px;
    padding-top: 20px;
    display: inline-block;
    cursor: pointer;
    font-size: 32px;
    color: whitesmoke;
    text-decoration: none;
}
body{
    background: white;
    color: #3f3f3f;
    font: 14px /28px arial;
    font-family: 'Raleway' ;
}
h1{
    font-size: 52px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.sectionHeader{
    
    color:black;
    line-height: 60px;
    font-size: 32px;
    padding: 5px 40px;
    letter-spacing: 8px;
    margin-bottom:20px;
}
h3{
    font-size: 16px;
    color:gray;
    transition: all .5s ease;
    
}
.sectionArea{
    padding: 50px 0;

}
/*GRID SETTINGS*/

.container{
    width: 90%;;
    margin: 0 auto;
    display: flex;

}
.featuresBody .container{
    justify-content: space-between;
}
.col3{
    flex-grow: 1;
    width: 33.33%;
}

.enginebody .container{
    justify-content: space-between;
}
.col2{
    flex-grow: 1;
    width: 50%;
    padding: 20px;
}

/*HOME SETTINGS*/

header .logo{
    margin-right: auto;
   

}
header .logo img{
    display:block;
    height: 50px;
   

}
.menu li{
    float: left;
   
    
    
}
.menu{
    padding: 10px;
    position: fixed;
   
    top:0px;
    left: 0;
    right:0px; 
    z-index: 1;
    height:70px;
    background-color: white;
     
}
.menu li a {
   
    
    padding: 20px 35px ;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color:gray;
}

.menu li a:hover{
    
    color:whitesmoke;
    transition: all .5s ease;

}
#mainSlider {
    height: 500px;
    width: 100%;
    background: url('../img/home.jpg') center center no-repeat;
    background-size: cover;

    
}

.sileder{
    width: 100%;
}
#mainCaption{
    height: 500px;
    background: rgba(0,0,0,.5);

}
.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

.featuresTop {
text-align: center;

}
.parallaxTop{
    text-align:center;
}
.engineTop{
    text-align:center;
}
.item{
    padding:10px 20px;
}
.zoom{
position: relative;
overflow: hidden;
display: inline-block;
width: 100%;
vertical-align: top;

}
.zoom img {
display: block;
width: 100%;
height: auto;
transition: all .5s ease;

}
.item .itemText{
    text-align: center;
    padding: 5px;
    border: 1px solid whitesmoke;

}

.item:hover .zoom img{
    transform: scale(1.25);
}

.item:hover h3{
    color:black;
    
}
 
.item:hover .itemText{
    background:whitesmoke;
    color:gray;
    transition: all .5s ease;

}
  .btnDetails{
      
      color:gray;
      padding: 5px 10px;
      text-decoration: none;
      border: 1px solid gray;
      transition: all 2s ease;
      
  }
  .item:hover .btnDetails{
      color:black;
      border: 1px solid gray;
  }
  .itemText p{
      margin: 20px 0;
  }

  #parallax{
      background: linear-gradient(
          rgba(0,0,0,.1),
          rgba(0,0,0,.1)

      ),
      url('../img/parallax.jpg');
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      text-align: center;
      font-size: 32px;
  }
  #parallax p{
      color:whitesmoke;
  }
  .engineTop{
      text-align: center;

  }
  .engineContainer{
      position: relative;
      width: 100%;
  }
  .imageOver{
      display: block;
      width: 100%;
      height: auto;
  }
  .engineOverlay{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0,0, 0.5);
      overflow:hidden;
      width: 0;
      height: 100%;
      transition: .5s ease;

  }
  .engineContainer:hover .engineOverlay{
      width: 100%;


  }
  .engineText{
      white-space: nowrap;
      color: whitesmoke;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  
  }
  .engineOverlay2{
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(0, 0,0, 0.5);
    overflow:hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  .engineContainer:hover .engineOverlay2{
    width: 100%;
    left: 0;
  }

  footer{
      background-color:#212121;
      text-align: center;
  }
  .footerItem{
      padding: 20px;
  }

  footer h3{
      color: whitesmoke;
      font-size: 18px;
      letter-spacing: 2px;
      margin-bottom: 10px;

  }

  .footerLinks a{

      padding-top: 30px;
      color: white;
      font-size: 12px;
      text-decoration: none;
      line-height: 40px;
      transition: .5s ease;
  }
  .footerLinks a:hover{
      color: gray;
  }

  .socialLinks a{
      float: left;
      letter-spacing: 20px;
      font-size: 30px;
      padding-right: 20px;
      padding-top: 30px;
      padding-left: 50px;
      color: whitesmoke;
     line-height: 50px;
     transition: .3s ease;
  }
  .socialLinks a:hover{
      color:blue;
  }


 .sectionHeader{
     text-align: center;
 }
 
 /*PHOTO*/
 #architectSlider {
    height: 300px;
    width: 100%;
    background: url('../img/home.jpg') center center no-repeat;
    background-size: cover;

    
}

#architectCaption{
    height: 300px;
    background: rgba(0,0,0,.7);

}
.img{
    width: 80%;
    
}
.img img{
    width: 100%;
    height: auto;
}
.imgText{
    width: 80%;
    padding-top: 10px;
}
h4{
    color: #212121;
    font-size: 15px;
    font-family: bold;
}
.imgText a{
    float: left;
    text-decoration:none;
    color: #212121;

}
.imgText a:hover{
   color:gray
}
.bioTop img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 50px;
    margin-left: 50px;
}
#bio{
    background-color:  #333333;
    
}
.pyazı{
    color: gray;
}

.isim{
    color: whitesmoke;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 30px;
    font: inherit;
}
.isimP{
    color:whitesmoke;
    margin-left: 210px;
    margin-top: 0;

}